.dark {
    background: #0f3557;
    color: #fff;
    .nav{
      .title{
        color: #fff !important;
      }
    }
    ::v-deep {
      .el-table,
      .el-table__expanded-cell {
        background: transparent;
        border: 0;
      }
      .nobor {
        border-right: 0 !important;
      }
    }
    ::v-deep .el-select .el-input .el-select__caret{
      color: #fff;
    }
    ::v-deep .el-table__header-wrapper {
      // background: rgba(255, 255, 255, 0.2);
    }
    ::v-deep .el-table__body {
      // border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    ::v-deep .el-table--border::after,
    .el-table--group::after,
    .el-table::before {
      background-color: rgba(255, 255, 255, 0);
    }
    ::v-deep .el-table th.gutter {
      background: transparent !important;
      width: 0 !important;
    }
    ::v-deep .el-divider__text{
      color: #fff !important;
      background: #0f3557 !important;
    }
    ::v-deep .el-table__row--striped td.el-table__cell {
      background: rgba(255, 255, 255, 0.03) !important;
      // border-top: 1px solid rgba(255, 255, 255, 0.3);
      // border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
    }
    ::v-deep .el-table__row--striped {
      background: rgba(255, 255, 255, 0.03) !important;
    }
    ::v-deep .el-table--border .el-table__cell {
      border-right: 0.01rem solid rgba(255, 255, 255, 0.06);
    }
  
    ::v-deep .el-pagination.is-background .el-pager li {
      color: #fff;
    }
    .pagination {
      margin-top: -1px;
    }
    .el-dropdown-link {
      color: #fff;
    }
    ::v-deep .el-form-item__label{
      color: #fff;
    }
    ::v-deep  .table {
        .header-row {
        }
  
        th.header-cell {
          color: rgba(15, 24, 41, 0.8);
          background: transparent;
          .cell {
            background: transparent;
            font-weight: 600;
            font-size: 0.2rem;
          }
        }
  
        .body-row {
          background: transparent;
          color: rgba(15, 24, 41, 1);
          .font-white {
            color: #fff;
            background: transparent;
          }
          .cell {
            color: #fff;
            background: transparent;
          }
      }
    }
    ::v-deep .el-table{
      background: transparent;
      tr {
        background-color: transparent;
      }
      td.el-table__cell {
        border-bottom: transparent;
      }
      th.el-table__cell.is-leaf{
        background: #3f5d79;
        border-bottom: transparent;
        color:#fff;
      }
    }
    ::v-deep .el-table--enable-row-hover .el-table__body tr > td.el-table__cell{
      color: #fff;
      background: transparent;
    }

    ::v-deep .el-checkbox{
      color: #fff;
    }
    ::v-deep .el-pagination {
      padding: 0.16rem 0;
      margin-bottom: 0.1rem;
        .el-pagination__total {
          color: rgba(255, 255, 255, 0.8);
        }
        .el-pager li:not(.disabled) {
          background: rgba(0, 0, 0, 0.2);
    
          &.active {
            background: #ffffff;
            color: #0062ff;
          }
        }
    
        .btn-next.disabled,
        .btn-next:disabled,
        .btn-prev.disabled,
        .btn-prev:disabled,
        .el-pager li.disabled {
          color: #606266;
          background: rgba(0, 0, 0, 0.2);
        }
    
        .btn-next,
        .btn-prev,
        .el-pager li {
          background: rgba(0, 0, 0, 0.2);
          color: #ffffff;
        }
    }
    ::v-deep .el-pagination.is-background .el-pager li:not(.disabled).active{
      background: #409eff;
      color: #fff;
    }
    ::v-deep .el-input{
      &__inner{
        background: #0F3557;
        color: #fff;
      }
    }
    ::v-deep .el-input.is-disabled .el-input__inner{
      background: #0F3557;
      color: #fff;
    }
    ::v-deep .el-textarea{
      &__inner{
        background: #0F3557;
        color: #fff;
      }
    }
}